{% extends "layout.html" %}

{% block header %}
  <span class="subheader"><h1 class="d-none d-sm-none d-md-block">About</h1></span>
  <span class="subheader"><h5 class="d-block d-sm-block d-md-none">About</h5></span>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-4">
      <img src="static/styles/imgs/mous.png" class="img-thumbnail float-right">
    </div>
    <div class="col">
      <h4>Moustafa S. Hashem</h4>
      <hr></hr>
      <p>I like gaming, watching movies and surfing the internet. Furthermore, I take interest into how games are made, problem-solving and coding.</p>
    </div>
  </div>
{% endblock %}
